<launch>


    <arg name="marker_size" default="0.105" doc="Size of the ArUco marker used, in meters" />
    <arg name="marker_id" default="26" doc="The ID of the ArUco marker used" />



    <!-- start ArUco -->
    <node name="aruco_tracker" pkg="aruco_ros" type="single" output="screen">
        <remap from="/camera_info" to="/camera/rgb/camera_info" />
        <remap from="/image" to="/camera/rgb/image_rect_color" />
        <param name="image_is_rectified" value="true"/>
        <param name="marker_size"        value="$(arg marker_size)"/>
        <param name="marker_id"          value="$(arg marker_id)"/>
        <param name="reference_frame"    value="camera_link"/>
        <param name="camera_frame"       value="camera_rgb_optical_frame"/>
        <param name="marker_frame"       value="camera_marker" />
    </node>
    <node name="image_view" pkg="rqt_image_view" type="rqt_image_view" args="/aruco_tracker/result"/>
    
    <node name="table_tf_fix" pkg="aruco_ros" type="table_top_tf_publisher.py" output="screen"/>
    

</launch>
